/* ------------------------------------
   For the Introduction Text
*/
.about-me p {
  font-family: 'Poppins', cursive;
  
}
body {
  font-family: 'Poppins', cursive;
}
/*
  background: #c999d1;
*/

h2 {
  font-family: 'Poppins', cursive;
}

h1 {
  font-family: 'Poppins', cursive;
}
h3 {
  font-family: 'Poppins', cursive;
}
