/* ------------------------------------
   Body
*/
body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-family:  'Poppins';
  font-size : 30px; 
}
h4{
  font-family:  'Poppins';
  font-size : 18px; 
}
h5{
  font-family:  'Poppins';
  font-size : 16px; 
}

/* ------------------------------------
   Navigation
*/
/* Do this if you want to change the color of the navbar */
.navbar.bg-dark {
  background-color: #28023D !important;
  ;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/* This will insert a space of height 75px before every id:
   https://github.com/twbs/bootstrap/issues/1768 check the solution from @mnot
*/
*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}


/* ------------------------------------
   Jumbotron color : c999d1 
*/
.jumbotron.jumbotron-fluid {
  background-color: #28023D ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: white;
}
/*
  background-image: url(../../../images/water_lily.jpg);
*/

/* ------------------------------------
   About Me
*/
.about-me .container .col-md-4 {
  background-size: cover;
  background-image: url("../images/about_pic.jpg");
  background-position:center;
  background-repeat:no-repeat;
  height: 500px;
  border-radius: 15px;
  font-family: 'Poppins', cursive; 
}

.col-md-8 {
  padding-left: 80px;
}

.about-text-title {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Poppins', cursive;
  
}


.btn-primary{ box-shadow: inset 0 0px 4px rgba(0,0,0); background: #28023D; color: white; }


/* ------------------------------------
   section


.section{ background: #f5d1ed }

*/
.section {
  margin-top: 100px;
}


.row.extra {
  margin-top: 100px;
  background: #f5d1ed
}

.pics img {
  display: block;
  height: 150px;
  margin: auto;
}

.project-title {
  font-size: 20px;
  font-weight: bold;
}


/* ------------------------------------
   Footer
*/
footer {
  margin-top: 100px;
  padding-left: 25px;
  background-color: #28023D;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.footer ul {
  list-style-type: none;
  color: white;
  font-family: 'PT Mono', monospace;
}

.footer li {
  display: inline;
  color: white;
  font-family: 'PT Mono', monospace;
}
