<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">
    <title>Subhasish's experiences</title>

    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="../static/css/projects.css">

  </head>
  <body>

    <section>
      <header>
        <!-- fixed-top makes the navbar stick to the top of the screen as the user is scrolling -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- ml-auto makes content of navbar to the left, but not the logo -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.html">Experiences</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="student_experiences.html">Academics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="designs.html">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </section>

    <main>
      <!-- *************************************
        Jumbotron Section
      -->
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
          <h1>Subhasish Basak</h1>
          <h3>Research & Project experiences :  2018</h3>
        </div>
      </div>
    <!-- *************************************
      2019 Projects Section
    -->
    <div class="section">
      <div class="container">
        <h2>2018 Projects</h2>

        <!-- *************************************
          Buttons Section
        -->
        <div class="github-btn">
          <h3>Find more projects on my GitHub Page!</h3>
          <a class="btn btn-primary"  href="https://github.com/subhasishbasak" role="button">Find more on GitHub</a>
        </div>

        <!-- ********************************** -->
        <!-- SXC dissertation -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <h3 class="project-title"></h3>
	      <h3>Undergraduate Dissertation Project</h3>	
	      <h4>St. Xaviers College (Autonomous), Kolkata</h4>
	      <p>Spring 2018</p>
	      <p>As a part of my undergraduate coursework at SXC, <strong>Dissertation and Data Analysis : ST-36543P</strong>, I worked under supervision of Professor Debjit Sengupta (SXC), on <em>Time Series analysis of Gold price</em>. The aim was to develop a predictive model to forecast the average monthly gold price, using Autoregressive process model fitting and backtesting with R and MINITAB.            
	      </p>
	      <ul>
                 <li><a  href="https://drive.google.com/file/d/1mwVM8wwSfRqJP56JsU_NRCxH_lZ1F9et/view">report</a></li>
              </ul>
              <p><strong>keywords/tools used:</strong>Time Series, Autoregressive models, Minitab, R</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/projects/2018/sxc.png">
          </div>
        </div>
       <!-- ********************************** -->
        <!-- IFCAM Kolkata -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <p class="project-title"><em></em></p>
              <h3>IFCAM Winter School on Uncertainity quantification & sensitivity analysis of complex models</h3>
              <h4>Indian Institute of Science Education and Research, IISER - Kolkata</h4>
              <p>Winter 2018</p>
              <p>This winter school was organised by the <strong>Indo-French Center for Applied Mathematics</strong> and it was focused on implementation of Sobol indices in sensitivity analysis and practicing Kriging approach of metamodelling in Geostatistical domain.
              </p>
              <ul>
                 <li><a  href="https://drive.google.com/file/d/1GxyyiWQ9153GToDIQYN4lJ90nVa-pBmB/view">Certificate</a></li>
                 <li> | </li>
                 <li><a  href="https://math.iiserkol.ac.in/ifcam/">Site</a></li>
              </ul>
              <p><strong>Keywords :</strong> Gaussian Processes, Kriging, Metamodelling, Sobol indices, Uncertainity quantification.</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/projects/2018/ifcam_18.jpeg">
          </div>
        </div>



      </div>
  </div>

</main>
  <!-- *************************************
    Footer Section
  -->
    <footer class="footer">
    <p> Some Quick Links </p>
    <ul>
      <a  href="https://medium.com/@subhasish.basak.c_94990"><li>Medium</li></a>
      <li> | </li>
      <a href="https://github.com/Subhasishbasak"><li>GitHub</li></a>

      <li> | </li>
      <a href="https://www.linkedin.com/in/subhasish-basak-566015168/"><li>Linkdin</li></a>

      <li> | </li>
      <a href="http://www.l2s.centralesupelec.fr/en/content/l2s"><li>L2S</li></a>

      <li> | </li>
      <a href="https://www.cmi.ac.in"><li>CMI</li></a>

      <li> | </li>
      <a href="https://www.sxccal.edu"><li>SXC</li></a>

      <li> | </li>
      <a href="../old/index.html"><li>Personal website v1.0</li></a>

    </ul>
    </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  </body>
</html>
