<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">
    <title>Subhasish's experiences</title>

    <link rel="icon" href= "../static/images/salvador logo/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="../static/css/projects.css">

  </head>
  <body>

    <section>
      <header>
        <!-- fixed-top makes the navbar stick to the top of the screen as the user is scrolling -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- ml-auto makes content of navbar to the left, but not the logo -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.html">Experiences</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="student_experiences.html">Academics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="designs.html">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </section>

  <main>
    <!-- *************************************
      Jumbotron Section
    -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1>Subhasish Basak</h1>
        <h3>Research & Project experiences : 2019</h3>
      </div>
    </div>


    <!-- *************************************
      2019 Projects Section
    -->
    <div class="section">
      <div class="container">
        <h2>2019 Projects</h2>

        <!-- *************************************
          Buttons Section
        -->
        <div class="github-btn">
          <h3>Find more projects on my GitHub Page!</h3>
          <a class="btn btn-primary"  href="https://github.com/subhasishbasak" role="button">Find more on GitHub</a>
        </div>


        <!-- ********************************** -->
        <!-- LAA -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <h3>Principal Component Analysis and its application in Machine Learning</h3>
              <p>Spring 2019</p>
	      <p>As a part of my coursework at CMI, <strong>Numerical Linear Algebra & its applications : DG-1201</strong>, me along with my teammates prepared a project on PCA and its application. The objective of this project was to analyse how PCA can be used to find patterns to reduce the dimensions of the dataset with minimal loss of information.</p>
              <ul>
                 <li><a  href="https://github.com/Subhasishbasak/Presentations/blob/master/Principal_Component_Analysis.pdf">GitHub Repository</a></li>
                 <li> | </li>
                 <li><a  href="https://github.com/Subhasishbasak/Presentations/blob/master/Linear_Algebra_proposal.pdf">Project proposal</a></li>
              </ul>
              <p><strong>keywords/tools used:</strong>Singular Value Decomposition, Eigen-values &  Eigen vectors, Python, Latex, GitHub</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/projects/2019/pca.png">
          </div>
        </div>

        <!-- ********************************** -->
        <!-- AML -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <h3>Applied Machine Learning Projects</h3>
              <p>Spring 2019</p>
	      <p>As a part of my post-graduate coursework at CMI, <strong>Applied Machine Learning I-II : CGE-118 & CGE-128</strong> I completed several ML projects on Regression & Classification, Cluestering, Topic Modelling using LDA, Building movie recommendation system, Time series analysis and more. The course was focused on building basic foundation of ML concepts and was a great opportunity to learn ML algorithms implementation using python.</p>
              <ul>
                <li><a  href="https://github.com/Subhasishbasak/Applied-Machine-Learning">GitHub Repository</a></li>
              </ul>
              <p><strong>Technologies Used:</strong> python, Latex, Jupyter notebook, Git, GitHub</p>
            </div>
          </div>

          <div class="col-md-6 pics jamming">
            <img src="../static/images/projects/2019/aml.png">
          </div>
        </div>

        <!-- ********************************** -->
        <!-- Summer internship -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <h3>Summer Internship at the Laboratoire des signaux et systemés(L2S)</h3>
	      <h4>École CentraleSupelec, Université Paris-Saclay</h4>
              <p>Summer 2019, May-July</p>
	      <p>I worked on <strong>Reviewing Scalability of Python toolboxes for Gaussian Process Regression</strong> under the supervision of Professor Emmanuel Vazquez (L2S, CentraleSupelec). As a part of my work, I built a universal wrapper for Python toolboxes implementing Gaussian Process regression, to perform comparative performance tests using simulated test beds and reviewed the toolboxes over different features, for future developement. 	 
	      </p>
	      <ul>
                <li><a href="https://github.com/Subhasishbasak/pythongp">GitHub Repository</a></li>
                <li> | </li>
                <li><a href="https://drive.google.com/file/d/1lGQ8M9JhSaU3k62rhZAvkUd_3LfiDrVV/view">report</a></li>
              </ul>
              <p><strong>Technologies Used:</strong> python, Spyder, Latex, git, GitLab</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/projects/2019/l2s.png">
          </div>
        </div>

        <!-- ********************************** -->
        <!-- Credit suisse -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <h3>Credit Suisse top quant hackathon</h3>
              <p>Fall 2019</p>
	      <p>I participated in a team of 3 members from CMI in this inter college hackathon and our team finished among the top 3 selected teams from our institute. We addressed the problem of <strong>Anomaly detection</strong> in financial data. The objective was to develop innovative models to identify anomalies in an uncleaned dataset.
	      </p>
	      <ul>
                 <li><a  href="https://github.com/Subhasishbasak/Anomaly_detection">GitHub Repository</a></li>
                 <li> | </li>
                 <li><a  href="https://github.com/Subhasishbasak/Anomaly_detection/blob/master/resources/Problem%20Statement.pdf">Problem Statement</a></li>
              </ul>
              <p><strong>Tools used:</strong> Python, Google docs, git, GitHub</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/projects/2019/creditsuisse.png">
          </div>
        </div>

	<!-- ********************************** -->
        <!-- IFCAM Pune -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <h3>IFCAM Winter School on Graphs & Stochastic Process</h3>
	      <h4>Indian Institute of Science Education and Research, IISER - Pune</h4>
              <p>Winter 2019</p>
	      <p>This winter school was organised by the <strong>Indo-French Center for Applied Mathematics</strong>, here I attended mini courses on Branching random walks, Galton-Watson trees and random networks.
	      </p>
	      <ul>
                 <li><a  href="https://drive.google.com/file/d/1lkq2Vljw11qzHSfe1pOk0fYHWETVTNZC/view">Certificate</a></li>
                 <li> | </li>
                 <li><a  href="https://sites.google.com/view/randomiiser/home">Site</a></li>
              </ul>
              <p><strong>Keywords :</strong> Stochastic processes, branching random walks, Galton-Watson trees, random networks</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/projects/2019/ifcam.png">
          </div>
        </div>



      </div>
  </div>


</main>



  <!-- *************************************
    Footer Section
  -->
  <footer class="footer">
  <p> Some Quick Links</p>
   <ul>
      <a  href="https://medium.com/@subhasish.basak.c_94990"><li>Medium</li></a>
      <li> | </li>
      <a href="https://github.com/Subhasishbasak"><li>GitHub</li></a>

      <li> | </li>
      <a href="https://www.linkedin.com/in/subhasish-basak-566015168/"><li>LinkedIn</li></a>

      <li> | </li>
      <a href="http://www.l2s.centralesupelec.fr/en/content/l2s"><li>L2S</li></a>

      <li> | </li>
      <a href="https://www.cmi.ac.in"><li>CMI</li></a>

      <li> | </li>
      <a href="https://www.sxccal.edu"><li>SXC</li></a>

      <li> | </li>
      <a href="../old/index.html"><li>Personal website v1.0</li></a>

   </ul>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  </body>
</html>
