<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">
    <title>Subhasish's experiences</title>

    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="../static/css/projects.css">

  </head>
  <body>

    <section>
      <header>
        <!-- fixed-top makes the navbar stick to the top of the screen as the user is scrolling -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- ml-auto makes content of navbar to the left, but not the logo -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.html">Experiences</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="student_experiences.html">Academics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="designs.html">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </section>

  <main>
    <!-- *************************************
      Jumbotron Section
    -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1>Subhasish Basak</h1>
        <h3>Research & Project experiences : 2020</h3>
      </div>
    </div>


    <!-- *************************************
      Recent Projects Section
    -->
    <div class="section">
      <div class="container">
        <h2>2020 Projects</h2>

        <!-- *************************************
          Buttons Section
        -->
        <div class="github-btn">
          <h3>Find more projects on my GitHub Page!</h3>
          <a class="btn btn-primary"  href="https://github.com/Subhasishbasak" role="button">Find more on GitHub</a>
        </div>

        <!-- ********************************** -->
        <!-- CV -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <h3>Image Processing Projects</h3>
              <p>Spring 2020</p>
	      <p>As a part of my postgraduate coursework at CMI, <strong>Computer Vision : CGE-136</strong> I have done some interesting image processing projects. I list some of them as follows : </p>
              <ul>
	      <p><strong>Image Filtering</strong></p>
              <p><strong>Image Pyramids and Image Mosaics</strong></p>
              <p><strong>Feature Detection and Description</strong></p>
              <p><strong>Object Recognition with Bag of Words</strong></p>
              <p><strong>Image Classification with Convolutional Neural Nets</strong></p>
              <p><strong>Image Classification using Transfer Learning</strong></p>
              </ul>
	      <ul>
                <li><a  href="https://github.com/Subhasishbasak/image_processing">GitHub Repository</a></li>
              </ul>
              <p><strong>Platform/packages used:</strong> python, OpenCV, PIL, tensorflow, keras, matplotlib, Numpy and more</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/projects/2020/episcopal.png">
          </div>

        </div>

 
        <!-- ********************************** -->
        <!-- NLP -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <h3>Natural Language Processing Projects</h3>
              <p>Spring 2020</p>
	      <p>As a part of my postgraduate coursework at CMI, <strong>Natural Language Processing</strong> I have done some interesting text analytics projects. I list them as follows : </p>
	      <ul>  	
              <p><b>Building Word Vectors using HAL</b></p>
	      <p><b>Building Semantic Word Vector Models</b></p>
	      <p><b>Building n-gram language model</b></p>
	      <p><b>Word to numeric translation</b></p>
	      <p><b>Recognizing English words with NN</b></p>
	      <p><b>Building Probabilistic language model</b></p>
	      <p><b>Sentiment analysis with RNN & LSTM</b></p>
	      </ul>
	      <ul>
                <li><a  href="https://github.com/Subhasishbasak/NLP">GitHub Repository</a></li>
              </ul>
              <p><strong>Platform/packages used:</strong> python, tensorflow, keras, NLTK and more</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/projects/2020/lstm.png">
          </div>

        </div>      
	<!-- ********************************** -->
        <!-- Quarantine -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <h3>My Quarantine Projects</h3>
	      <h4>Sentiment analysis with WhatsApp emojis</h4>
              <p>Summer 2020</p>
	      <p>During the great quarantine of 2020 I started a working on this project which involved several applications of Image processing & sentiment analysis. I developed a command line based python module on GitHub called <strong>EmojiScore v0.1.0</strong>, which computes the sentiment score of the user upon feeding the screenshot of the recent used emoji box of WhatsApp.</p>
              <ul>
                 <li><a href="https://github.com/Subhasishbasak/emoji_project">GitHub Repository</a></li>
                 <li> | </li>
                 <li><a href="https://medium.com/@subhasish.basak.c_94990/sentiment-analysis-using-whatsapp-emojis-ff81f5bfc31f">Medium</a></li>
              </ul>
              <p><strong>Keywords/Technologies Used:</strong> Image processing, Sentiment Analysis, python, vim, Jupyter-notebook, git, GitHub</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/projects/2020/emoji.jpeg">
          </div>

        </div>
	<!-- ********************************** -->
        <!-- Quarantine -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <h3>Designing my New webpage</h3>
              <p>Summer 2020</p>
	      <p>The great quarantine of 2020 gave me the time and opportunity to start reconstructing my personal webpage on GitHub pages. I improved my working knowledge on HTML, CSS and Bootstrap. My new webpage (the one you are currently browsing on) contains detailed information about my work and project experiences and I think it looks more professional than the previous one !</p>
              <ul>
                 <li><a href="https://github.com/Subhasishbasak/subhasishbasak.github.io">GitHub Repository</a></li>
              </ul>
              <p><strong>Technologies Used:</strong>HTML, CSS, Bootstrap, vim</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/projects/2020/webpage.png">
          </div>

        </div>



      </div>
    </div>

</main>



  <!-- *************************************
    Footer Section
  -->
  <footer class="footer">
<p> Some Quick Links</p>
   <ul>
      <a  href="https://medium.com/@subhasish.basak.c_94990"><li>Medium</li></a>
      <li> | </li>
      <a href="https://github.com/Subhasishbasak"><li>GitHub</li></a>

      <li> | </li>
      <a href="https://www.linkedin.com/in/subhasish-basak-566015168/"><li>LinkedIn</li></a>

      <li> | </li>
      <a href="http://www.l2s.centralesupelec.fr/en/content/l2s"><li>L2S</li></a>

      <li> | </li>
      <a href="https://www.cmi.ac.in"><li>CMI</li></a>

      <li> | </li>
      <a href="https://www.sxccal.edu"><li>SXC</li></a>

      <li> | </li>
      <a href="../old/index.html"><li>Personal website v1.0</li></a>
  </ul>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
