<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subhasish's education</title>

    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="../static/css/experiences.css">

</head>
<body>
    <section>
        <header>
            <!-- fixed-top makes the navbar stick to the top of the screen as the user is scrolling -->
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- ml-auto makes content of navbar to the left, but not the logo -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="projects.html">Experiences</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="student_experiences.html">Academics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="designs.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </section>

    <main>
        <!-- *************************************
          Jumbotron Section
        -->
        <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
                <h1>Subhasish Basak</h1>
		<h3>Academics & Courses</h3>
            </div>
        </div>
        <!-- *************************************
              Education and Certificates Section
            -->
        <div class="Education-Certficates section">
            <div class="container">
                <h2>Academic Qualifications</h2>

		<!-- ********************************** -->
                <!-- UPSay Education -->
                <div class="education row extra-exp">

                    <div class="col-md-6">
                        <h3>Université Paris-Saclay</h3>
                        <h4>PhD, Mathématique et Informatique </h4>
                        <p>Gif-sur-yvette, France</p>
                        <p>2021 - present</p>
                    </div>

                    <div class="col-md-6 pics">
                        <img style="height: 100px;" src="../static/images/projects/2017/upsay.png">
                    </div>
		</div>


                <div class="education row">
                    <div class="education-description">
                        <div class="col-md-12">
                            <p><strong>Technologies Learned</strong><p>
                            <ul>
                                <li>Just getting started with EMACS!</li>
                            </ul>
                        </div>
                    </div>
                </div>  <!-- End of CMI Experience -->


                <!-- ********************************** -->
                <!-- CMI Education -->
                <div class="education row extra-exp">

                    <div class="col-md-6">
                        <h3>Chennai Mathematical Institute, India</h3>
                        <h4>Master's of Science, Data Science</h4>
                        <p>Chennai, India</p>
                        <p>2018 - 2020</p>
                    </div>

                    <div class="col-md-6 pics">
                        <img style="height: 100px;" src="../static/images/projects/2017/cmi_logo.png">
                    </div>

                </div> <!-- End of UCI Intro -->

                <div class="education row">
                    <div class="education-description">
                        <div class="col-md-12">
                            </ul>
                            <p><strong>Relevant Coursework</strong><p>
                            <ul>
				<li>Probability & Statistics with R</li>    
                                <li>Programming & Data Structures with Python </li>
				<li>Discrete Mathematics & Analysis</li>
                                <li>RDBMS, SQL & Visualization </li>
                                <li>Design & Analysis of Algorithms</li>
				<li>Numerical Linear Algebra & application</li>
				<li>Data Mining & Machine Learning</li>
				<li>Big Data with Hadoop & distributed computing</li>
				<li>Applied Machine Learning I-II</li>
                                <li>Information Retrieval</li>
				<li>Text Analysis & Natural Language Processing</li>
				<li>Advanced Machine Learning (Dl & RL)</li>
				<li>Bayesian Data Analysis</li>
				<li>Computer vision : Image processing</li>
				<li>Mathematical Finance</li>
                            </ul>
			    <p>CGPA : 9.29</p>
                        </div>
                    </div>
                </div>  <!-- End of CMI Experience -->

		<!-- ********************************** -->
                <!-- SXC Education -->
                <div class="education row extra-exp">

                    <div class="col-md-6">
                        <h3>St. Xavier's College (Autonomous), Kolkata</h3>
                        <h4>Bachelor's of Science, Statistics</h4>
                        <p>Kolkata, India</p>
                        <p>2015 - 2018</p>
			<p><strong>Relevant Coursework</strong><p>  			
		    </div>	
                    <div class="col-md-6 pics">
                        <img style="height:230px;" src="../static/images/projects/2017/sxc_logo.png">
                    </div>

                </div> <!-- End of UCI Intro -->

                <div class="education row">
                    <div class="education-description">
                        <div class="col-md-12">
                            <ul>
			        <li>Descriptive Statistics I-III</li>    
                                <li>Probability Theory I-III</li>
                                <li>Sampling Theory</li>
                                <li>Statistical Inference I-III</li>
                                <li>Multivariate Analysis</li>
                                <li>Non-parametric Inference</li>
                                <li>Linear Statistical Models</li>
                                <li>Statistical Quality Control</li>
				<li>Analysis & Algebra I-III</li>
				<li>Time Series Analysis</li>
				<li>Econometrics</li>
				<li>Mathematical Economics</li>
				<li>Macro & Micro Economics</li>
				<li>Population Statistics</li>
				<li>Data Analysis using R & MINITAB</li>
                            </ul>
                            <p>CGPA : 8.67</p>
                        </div>
                    </div>
                </div>  <!-- End of CMI Experience -->

    </main>



    <!-- *************************************
      Footer Section
    -->
    <footer class="footer">
      <p> Some Quick Links </p>
    <ul>
      <a  href="https://subhasish-basak-c-94990.medium.com/"><li>Medium</li></a>
      <li> | </li>
      <a href="https://github.com/Subhasishbasak"><li>GitHub</li></a>

      <li> | </li>
      <a href="https://www.linkedin.com/in/subhasish-basak-566015168/"><li>LinkedIn</li></a>

      <li> | </li>
      <a href="http://www.l2s.centralesupelec.fr/en/content/l2s"><li>L2S</li></a>

      <li> | </li>
      <a href="https://www.cmi.ac.in"><li>CMI</li></a>

      <li> | </li>
      <a href="https://www.sxccal.edu"><li>SXC</li></a>

      <li> | </li>
      <a href="../old/index.html"><li>Personal website v1.0</li></a>

	    </ul>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
